@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
}

.back{
    z-index: -5;
    height: 200px;
    width: 250px;
    position: relative;
    margin: 10px;
    opacity: 0.25;
}

.layerOne{
    z-index: 2;
    min-width: 900px;
    position: absolute;
    margin-left: 50%;
}

h1{
    line-height: 300%;
}

ul{
    margin-left:80px;
}

.sectionmap{
    z-index: -5;
    position: relative;
    max-height: 400px;
    min-width: 1180px;
    object-fit: cover;
    filter: grayscale(75%);
    margin: -10px;
}

.sectiontitle{
    font-family: 'Luckiest Guy', cursive;
    z-index: 2;
    font-size: 100px;
    position: absolute;
    text-align: center;
    color: #F0F8FF;
}

.sectiontitle :hover{
    background-color: #FAEBD7;
    opacity: 0.8;
}

.card .card-image{
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .card-image img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card .card-image:hover img{
    -webkit-transform: scale(1.2) rotate(-7deg);
    -moz-transform: scale(1.2) rotate(-7deg);
    -ms-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);
    transform: scale(1.2) rotate(-7deg);
}

.card{
    font-family: 'Amatic SC';
    width: 40%;
    margin-top: 10px;
    position: relative;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;
    font-family: 'Amatic SC';
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    font-family: 'Amatic SC';
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.btn-custom{
    background-color: transparent;
    font-size:18px;
}

