{% extends "base.html" %}

{% block head %}
<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
 </script>

<ul class="nav nav-pills">
  <li role="presentation"><a href="mainNuggets.html">Nuggets</a></li>
  <li role="presentation" class="active"><a href="mainCoffee.html">Coffee</a></li></ul>
{% endblock %}

{% block body %}

{% if naddress != '' %} <!-- checks if user has searched an address -->
<form action="/Nlocation" method="POST">
  <input class="form-control" type="text" name="address" placeholder={{naddress}}>
  <input class="btn btn-primary" type="submit" value="Search">
</form>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUPAj0czfKLMWzZyO0brrORVvi4YH1f30&q&callback=initMap">
</script>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=restaurants%20near%20stuyvesant%20high%20school&key=AIzaSyAeMJ7Ql1x_IRE7HvLMGlo-j69L3VrEKkk" allowfullscreen></iframe> 

{% else %}
<form action="/Nlocation" method="POST">
  <input class="form-control" type="text" name="address" placeholder="Type in your location">
  <input class="btn btn-primary" type="submit" value="Search">
</form>

{% endif %}


<!-- foursquare api:
Client_ID: IVAQCEMVQ3OR00SDOCEZR4AQ5KEQXXRWKQYRAHLIVM50QWKK
Client_Secret: JGOJZECQYXHNPVSIH4WK2N5HTNECAJAWFL3RF2E5J03IZRNL

-->

{% endblock %}
