{% extends "base.html" %}

{% block head %}
{% if action=="login" %}<title>Login</title>{% else %}
<title>Register</title>{% endif %}
{% endblock %}

{% block body %}
{% if action=="login" %}
<h1>Log in here</h1><br>
<form action="/login" method="POST">

{% else %}
<h1>Register for an account</h1><br>
<form action="/register" method="POST">
{% endif %}
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <p>Username: <input class="form-control" type="text" name="username" placeholder="Username" required></p>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <p>Password: <input class="form-control" type="password" name="password" placeholder="Password" required></p>
        </div>
    </div>
</div>
    {% if action=="register" %}
<div class="form-group">    
    <div class="row">
        <div class="col-md-6">
            <p>Confirm Password: <input class="form-control" type="password" name="passconfirm" placeholder="Password" required></p>
        </div>
    </div>
</div>
<div class="form-group">    
    <div class="row">
        <div class="col-md-6">
	<p>Choose One: </p>
	
	  <input type="radio" name="types" value="nuggets" checked> Nuggets<br>
	  <input type="radio" name="types" value="coffee"> Coffee<br>
	 
        </div>
    </div>
</div>
    {% endif %}
    <br>
    {% if action=="login" %}<input class="btn btn-primary" type="submit" value="Login">
    {% else %}<input class="btn btn-primary" type="submit" value="Register">{% endif %}
</form>

<script>
$(document).ready(function(){    $('[data-toggle="tooltip"]').tooltip();
    container:'body'
});
</script>

{% endblock %}
