{% extends "base.html" %}

{% block head %}
{% if action=="login" %}<title>Login</title>{% else %}
<title>Register</title>{% endif %}
{% endblock %}

{% block body %}
{% if action=="login" %}
<h1 class="layerOne">Log in here</h1>
<form id="login-form" class="layerOne">

{% else %}
<h1 class="layerOne">Register for an account</h1>
<form id="register-form" class="layerOne">
  {% endif %}
  
  <div class="form-group">
    
    <div class="row">
        <div class="col-md-6"><br><br><br><br><br><br>
            <h4>Username: <input class="form-control" type="text" name="username" placeholder="Username" required></h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <h4>Password: <input class="form-control" type="password" name="password" placeholder="Password" required></h4>
        </div>
    </div>
</div>
    {% if action=="register" %}
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <h4>Confirm Password: <input class="form-control" type="password" name="passconfirm" placeholder="Password" required></h4>
        </div>
    </div>
</div>
    {% endif %}
    <br>
    {% if action=="login" %}<input class="btn btn-primary" type="submit" value="Login">
    {% else %}<input class="btn btn-primary" type="submit" value="Register">{% endif %}
</form>

{% for pic in nc %}

<img class="back" src="{{ pic }}">

{% endfor %}

 <script src="/static/js/auth.js"></script>

{% endblock %}
