{% extends "base.html" %}

{% block head %}
<ul class="nav nav-pills">
    <li role="presentation"><a href="/mainNuggets">Nuggets</a></li>
    <li role="presentation" class="active"><a href="/mainCoffee">Coffee</a></li>
</ul>
{% endblock %}

{% block body %}

<br><br><br>
<div class="sectiontitle"><br>&nbsp <a href="/Clocation">Find a coffee venue!</a> &#x2192; </div>
<img src="http://www.theodora.com/maps/new9/time_zones_4.jpg" class="sectionmap">


<br><br><br>
<div class="sectiontitle"><br>&nbsp <a href="/recipes">Find a coffee recipe</a> &#x2192; </div>
<img src="http://baanhaadngam.com/images/bg-cooking-02.jpg" class="sectionmap">




{% endblock %}
