{% extends "base.html" %}

{% block head %}

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/mainNuggets">Nuggets</a></li>
  <li role="presentation"><a href="/mainCoffee">Coffee</a></li>
</ul>
{% endblock %}

{% block body %}

{% if naddress != '' %} <!-- checks if user has searched an address -->
<form action="/Nlocation" method="POST">
  <input class="form-control" type="text" name="address" placeholder={{ name }}>
  <input class="btn btn-primary" type="submit" value="Search">
</form>

{% if works %}
<div class="container">
  {% for spot in spots %}
  <div class="row">
  <h3>{{ spot }}</h3>
  <br>
  <div class="col-sm-7">
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUPAj0czfKLMWzZyO0brrORVvi4YH1f30&q={{ spots[spot][0] }},{{ spots[spot][1] }}" allowfullscreen></iframe> 
  </div>

  <div class="col-sm-5">
    Address: {{ spots[spot][2] }}<br>
    {% if spots[spot][3] != "nope" %}
    Website: <a href="{{ spots[spot][3] }}">{{ spots[spot][3] }}</a><br>
    {% endif %}
    {% if spots[spot][4] != "nope" %}
    Phone: <u>{{ spots[spot][4] }}</u><br>
    {% endif %}
    Favorite 
  </div>
  
</div>
  {% endfor %}
</div>

{% else %}
<br>
<div class="alert alert-danger" role="alert">No results match your query</div>

{% endif %}
{% else %}
<form action="/Nlocation" method="POST">
  <input class="form-control" type="text" name="address" placeholder="Type in your location">
  <input class="btn btn-primary" type="submit" value="Search">
</form>

{% endif %}


<!-- foursquare api:
Client_ID: IVAQCEMVQ3OR00SDOCEZR4AQ5KEQXXRWKQYRAHLIVM50QWKK
Client_Secret: JGOJZECQYXHNPVSIH4WK2N5HTNECAJAWFL3RF2E5J03IZRNL

-->

{% endblock %}
