{% extends "base.html" %}

{% block head %}
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="mainNuggets.html">Nuggets</a></li>
  <li role="presentation"><a href="mainCoffee.html">Coffee</a></li>
</ul>
{% endblock %}

{% block body %}

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=restaurants%20near%20stuyvesant%20high%20school&key=AIzaSyAeMJ7Ql1x_IRE7HvLMGlo-j69L3VrEKkk" allowfullscreen></iframe> 

{% endblock %}
