{% extends "base.html" %}

{% block head %}

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/mainNuggets">Nuggets</a></li>
    <li role="presentation"><a href="/mainCoffee">Coffee</a></li>
</ul>
{% endblock %}

{% block body %}
<br>
{% if naddress != '' %} <!-- checks if user has searched an address -->

<form action="/Nlocation" method="POST">
    <div class="input-group">
        <input class="form-control" type="text" name="address" placeholder={{ name }}>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">!!</button>
        </span>
    </div>
</form>

{% if works %}
<div class="container">
    {% for spot in spots %}
    <div class="row">
        <h3>{{ spot }}</h3>
        <br>
        <div class="col-sm-7">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUPAj0czfKLMWzZyO0brrORVvi4YH1f30&q={{ spots[spot][0] }},{{ spots[spot][1] }}" allowfullscreen></iframe>
        </div>

        <div class="col-sm-5">
            <b>Address</b>: {{ spots[spot][2] }}<br>
            {% if spots[spot][3] != "nope" %}
            <b>Website</b>: <a href="{{ spots[spot][3] }}">{{ spots[spot][3] }}</a><br>
            {% endif %}
            {% if spots[spot][4] != "nope" %}
            <b>Phone</b>: <u>{{ spots[spot][4] }}</u><br>
            {% endif %}
            <b>Favorite</b>
        </div>

    </div>
    {% endfor %}
</div>

{% else %}
<br>
<div class="alert alert-danger" role="alert">No results match your query</div>

{% endif %}
{% else %}
<form action="/Nlocation" method="POST">
    <div class="input-group">
        <input class="form-control" type="text" name="address" placeholder="Type in your location">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">!!</button>
        </span>
    </div>
</form>

{% endif %}

{% endblock %}
