{% extends "base.html" %}

{% block head %}
<title> {{ postinfo[2] }} </title> 
{% endblock %}

{% block body %}
Title: {{ postinfo[2] }} <br>
Author: {{ postinfo[0] }} <br>
Timestamp: {{ postinfo[4] }} <br>
Content: <br>
{{ postinfo[3] }} <br>

{% for reply in replies %}
reply: {{ reply[2] }} <br>
{% endfor %}

<form action="/reply" method="POST">
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <p>Content: <textarea class="form-control" name="content" placeholder="Enter content here" required></textarea></p>
        </div>
    </div>
</div>
<br>
<input name="postid" value="{{ postinfo[1] }}" type="hidden"> 
<input class="btn btn-primary" type="submit" value="Reply">
{% endblock %}
