{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
{% endblock %}
{% block body %}

<form id="recipe-form">
    <div class="input-group">
        <input class="form-control" type="text" name="food_query" placeholder="Search for a recipe">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
        </span>
    </div>
</form>

<br><br><br>
<div id="recipes">
</div>
{% endblock %}
